{% extends "partials/layout.html.twig" %}

{% block title %}Erreur {{ statusCode }}{% endblock %}

{% block content %}
    <h1>Erreur {{ statusCode }}</h1>
    <p>{{ cookie("error") }}</p>
{% endblock %}