{% extends "partials/layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <main class="w-[64rem]">
        <section>
            <h5>Responsable</h5>
            <p>Rémi Coletta</p>
            <p>coletta@lirmm.fr</p>
        </section>
        <section>
            <h5>Rémunération</h5>
            <p>
                La gratification est obligatoire au delà de 2 mois de stage (soit l’équivalent de 44 jours à 7
                heures/jour ou à partir de la 309e heure de stage, même effectué discontinuellement).
                Le montant minimum légal de gratification est de 4,05 euros* par heure.  *(modification au 1er
                Janvier 2023). Vous trouverez des informations supplémentaires sur vos droits et devoirs en tant que
                stagiaire ici, ainsi qu’un simulateur de votre rémunération en cliquant ici.
            </p>
        </section>
    </main>
{% endblock %}