<nav>
    <a class="logo-container" href="{{ route("home") }}">
        <span>Stageo</span>
    </a>
    <ul>
        <li>
            <a class="button-ghost" href="{{  }}">
                <span>Database</span>
            </a>
        </li>
        <li>
            <a class="button-ghost" href="{{  }}">
                <span>Users</span>
            </a>
        </li>
    </ul>
</nav>